h1{
    margin-left: 370px;
}
.user{
    height:  150px;
    border: 3px solid black;
    background: FireBrick;
    box-shadow: 10px 5px 5px Crimson;
  
}

.new-colokshion{
    display: flex;
    flex-direction: column;
    width: 300px;

}
.user:hover{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}
.commet{
    display: flex;
  
    justify-content: center;
    position:absolute;
    max-width: 450px;
    top:220px;
    left: 350px;
    
    
    background-color: Sienna;
    border: 3px solid black; 
    box-shadow: 15px 5px 5px SaddleBrown;
    

}
